.DS_Store/
PrismFullNavigation/.DS_Store/

PrismFullNavigation/xamarin_forms_5/

PrismFullNavigation/maui_net7/.vs/
PrismFullNavigation/maui_net7/.DS_Store/
PrismFullNavigation/maui_net7/PrismFullNavigation/bin/
PrismFullNavigation/maui_net7/PrismFullNavigation/obj/
