.DS_Store/

PrismFullNavigation/xamarin_forms_5/.vs/
PrismFullNavigation/xamarin_forms_5/.DS_Store/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation/bin/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation/obj/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.Android/bin/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.Android/obj/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.iOS/bin/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.iOS/obj/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.GTK/bin/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.GTK/obj/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.MacOs/bin/
PrismFullNavigation/xamarin_forms_5/PrismFullNavigation.MacOs/obj/

PrismFullNavigation/maui_net7/.vs/
PrismFullNavigation/maui_net7/.DS_Store/
PrismFullNavigation/maui_net7/PrismFullNavigation/bin/
PrismFullNavigation/maui_net7/PrismFullNavigation/obj/
